##########################################################
# Git bits
##########################################################
alias gstat="git status"
alias gadd="git add"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gca="git commit --amend"
alias gpo="git push --set-upstream origin"

alias gcstale="git branch -a --merged | grep -v 'remotes/' | grep -v '\*' | grep -v master | wc -l"
alias grmstale="git branch -a --merged | grep -v 'remotes/' | grep -v '\*' | grep -v master | xargs git branch -D"

alias gpf="git push --force-with-lease"
alias grb="git fetch && git rebase -S origin/master"

##########################################################
# Misc. bits
##########################################################

alias k=kubectl

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias python=python3
alias pip=pip3


# clean node_modules recursively
alias clean-nm="find . -name 'node_modules' -type d -prune"
